{% extends 'user_layout.html' %}
{% load static %}
{% load cache %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/friends_menu.min.css' %}">
{% endblock %}

{% block title %}Друзья{% endblock %}
{% block main %}
    <section class="friends__wrapper">
        <section class="profile">
            {% include 'profile_sidebar.html' %}
        </section>
        <section class="friends">
            <div class="friends__links">
                <div class="friends__listBtn">
                    <a href="" class="active">Друзья</a>
                </div>
                <div class="friends__requestsBtn">
                    <a href="">Запросы в друзья</a>
                </div>
            </div>
            <div class="friends__container">
                <div class="friends__data">
                    <ul class="friends__list">
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Эдуард Кузьмин</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Эдуард Кузьмин</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Эдуард Кузьмин</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Эдуард Кузьмин</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Эдуард Кузьмин</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                        <li class="friends__item">
                            <a href="" class="friends__link">
                                <div class="friends__img">
                                    <img src="{% static 'img/user_logo.webp' %}" alt="photo">
                                </div>
                                <p class="friends__name">Анатолий Куравлев</p>
                            </a>
                            <a href="" class="message">Написать</a>
                        </li>
                    </ul>
                </div>
                <div class="friends__requests">

                </div>
            </div>
        </section>
        {% include 'news_layout.html' %}
    </section>
{% endblock %}